*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
   /* padding: 20px; */
    /* margin: 50px auto; */
}

.top-bar{
    background-color: black;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-bar a{
    color: white;
}

.cross{
    position: absolute;
    right: 20px;
}

.botum-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    padding: 20px;
}

.botum-bar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #CCC;
    border-radius: 20px;
    width: 500px;
    padding: 10px 15px;
    gap: 10px;
}

.search input{
    background-color: transparent;
    border: none;
}

.banner {
    background-image: url("assets/images/Rectangle.png");
    width: 100%;
    height: 625px;
    position: relative;
    display: flex;
    flex-direction: row; /* text left, stars right */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center; /* vertically center content */
    padding: 0 50px;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text h1 {
    font-size: 64px;
}

.text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.text button {
    background-color: black;
    color: white;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.backgrond {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.star1, .star2 {
    position: absolute;
}

.star1 {
       bottom: 50px;
    right: 470px;
}

.star2 {
    bottom: 150px;
    right: 50px;
}
.stats {
  display: none;
  justify-content: space-around;
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.stats div {
  font-weight: bold;
}

.stats span {
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
}

.brands{
    background-color: black;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new{
    text-align: center;
    margin: 50px 0 30px 0;
}

.cards, .card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}

.card-1{
    width: 23%; 
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-1 h2{
    font-size: 20px;
    margin: 10px 0;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.discount{
    background-color: lightcoral;
    color: red;
    border-radius: 10px;
    padding: 3px;
}
.box{
    background-color: #CCC;
    width: 95%;
    border-radius: 20px;
    padding: 40px 20px;
    margin: 50px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.boxes h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}
.boxes{
    padding:  20px 10px ;
}
.top{
    display: flex;
    gap: 20px;

}
.casual{
    background-image: url(./assets/images/image\ 11.png);
    width: 407px;
    height: 280px;
    border-radius: 20px;
    padding: 20px;
}
.casual h2{
    font-size: 30px;
}
.formal{
    background-image: url(./assets/images/image\ 13.png);
    width: 686px;
    height: 280px;
    border-radius: 20px;
    padding: 20px;
}
.formal h2{
    font-size: 30px;
}
.botum{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
.ladies{
    background-image: url(./assets/images/image\ 12.png);
    width: 686px;
    height: 280px;
    border-radius: 20px;
    padding: 20px;
}
.ladies h2{
font-size: 30px;
}
.gym{
    background-image: url(./assets/images/image\ 14.png);
  width: 407px;
    height: 280px;
    border-radius: 20px;
    padding: 20px;
}
.gym h2{
    font-size: 30px;
}
.coustomer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1254px;
    margin: 0 auto;
}
.right{
    display: flex;
}
.reviews{
    display: flex;
    gap: 10px;
}

.review1,.review2,.review3{
    height: 240px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    gap: 20px;
    flex-direction: column;
     margin: 50px auto; 
    
}
.newshelter{
    width: 1200px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto;
    position: relative;
    top: 129px;
    flex-wrap: nowrap;
    gap: 10px;
}
.textside{
    width: 800px;

}
.textside h1{
    font-size: 55px;
}
.inputside{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.email{
    background: white;
    border-radius: 20px;

    padding: 10px;
    display: flex;
    gap: 10px;
}
.email input{
    background-color: transparent;
    border: none;

    font-size: 15px;
}
.inputside button{
        background: white;
    padding: 10px;
    border-radius: 20px;
    width: 390px;
}

.footer{
       width: 100%;
    background-color: #CCC;
    padding: 2px;
    padding-top: 120px;
 
}
.foot{
    display: flex;
   /* gap: 50px; */
   justify-content: space-around;
}
.foot ul{
list-style: none;
line-height: 30px;
margin-top: 10px;
}
.footer hr{
     
    color: black;
    width: 1240px;
    margin: 54px;
}
.shop{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-bottum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

@media screen  and (max-width:640px){
    .container{
        padding: 10px;
    }
    .top-bar{
        font-size: 10px;
    }
    .botum-bar{
      flex-direction: column;
                align-items: flex-start;
                gap: 20px;
    }
    .botum-bar ul{
        flex-direction: column;
        display: none;
        
    }
    .search{
        width: 100%;
    }
    .cross{
        display: none;
    }
    .text{
        width: 100%;

    }
    .text h1{
        font-size: 30px;
        height: 93px;
        width: 315px;  
    }
    
.text button{
    width: 100%;
}

   .banner {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .text, .backgrond {
        width: 100%;
    }

    .text h1 {
        font-size: 30px;
        width: 100%;
    }

    .star1 {
        /* bottom: 50px;
        right: 100px; */
        display: none;
    }

    .star2 {
        /* bottom: 150px;
        right: 20px; */
        display: none;
    }

    .banner img { 
        max-width: 100%;
        height: auto;
        object-fit: cover; /* image kabhi distort nahi hogi */
    }
    .brands{
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    .brands img{
        width: 100px;
        height: auto;
       
    }
    .card-1{
        width: 100%;
    }
    .boxes{ width: 100%;}
    .top, .botum {
        flex-direction: column; 
        gap: 15px;
    }

    .casual, .formal, .ladies, .gym {
        width: 100%; 
        height: 100px; 
        padding: 15px;
        background-size: cover;

    }

    .casual h2, .formal h2, .ladies h2, .gym h2 {
        font-size: 24px;
    }
    .review1{
        width: 100%;
    }
.review2,.review3{
    display: none;
}
    .newshelter{
        flex-direction: row;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
}
.textside h1{
    font-size: 30px;
    width: 100%;
}
.inputside,.inputside button {
    width: 100%;
}
.foot{
    flex-direction: column;
    gap: 10px;
}
 .shop, .company, .help, .faqs, .resourses {
        width: 100%;            
        text-align: center;    
    }
    .footer-bottum {
        flex-direction: column;
        gap: 20px;
        text-align: center;     
    }

    .footer-bottum img {
        width: 50px;          
        height: auto;
    }

    .footer hr {
        width: 90%;          
        margin: 30px auto;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px) {

    
    .container{
        padding: 15px;
        width: 100%;
        margin: 0 auto;
    }

    
    .top-bar{
        width: 100%;
        font-size: 12px;
        justify-content: center;
    }

    
    .botum-bar{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .botum-bar ul{
       display: none;
    }

    .search{
        width: 100%;
    }

    .cross{
        display: block;
    }

    
    .banner{
        flex-direction: row; 
        height: auto;
        padding: 20px;
    }

    .text, .backgrond{
        width: 50%;
    }

    .text h1{
        font-size: 40px;
    }

    .text p{
        font-size: 15px;
    }

    .text button{
        width: 180px;
        padding: 8px;
    }

    .star1{
               bottom: 20px;
        right: 247px;
        display: block;
    }

    .star2{
              bottom: 48px;
        display: block;
        left: 231px;
    }

    
    .brands{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
    }

    .brands img{
        width: 120px;
        height: auto;
    }


    .card-1{
        width: 48%; 
    }

   
    .boxes, .box{
        width: 100%;
    }

    .top, .botum{
        flex-direction: row; 
        gap: 15px;
    }

    .casual, .formal, .ladies, .gym{
        width: 48%;
        height: 200px;
        padding: 15px;
        background-size: cover;
    }

    .casual h2, .formal h2, .ladies h2, .gym h2{
        font-size: 26px;
    }


    .review1, .review2, .review3{
        width: 48%;
        margin: 20px auto;
        height: 286px;
    }

   
    .newshelter{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .textside{
        width: 100%;
    }

    .textside h1{
        font-size: 36px;
    }

    .inputside, .inputside button{
        width: 100%;
    }

   
    .foot {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 10px;
    }

    .shop, .company, .help, .faqs, .resourses{
        width: 48%;
        text-align: left;
    }

    .footer-bottum{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        text-align: left;
    }

    .footer-bottum img{
        width: 60px;
        height: auto;
    }

    .footer hr{
        width: 95%;
        margin: 30px auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
     .container{
        padding: 15px;
        width: 100%;
        margin: 0 auto;
    }
    .top-bar{
        width: 100%;
        font-size: 20px;
        justify-content: center;
    }
    .botum-bar{
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
    }
    .botum-bar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        font-size: 13px;
    }
    .star1{
           left: 100px;
           
    }
   .star2{
    left: 405px;
        width: 90px;
   }
    .brands{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
    }

    .brands img{
        width: 120px;
        height: auto;
    }
    .cards{
        width: 100%;
    }
    .card-1{
        width: 48%; 
    }
    
    .boxes, .box{
        width: 100%;
    }

    .top, .botum{
        flex-direction: row; 
        gap: 15px;
    }
     .casual, .formal, .ladies, .gym{
        width: 48%;
        height: 200px;
        padding: 15px;
        background-size: cover;
    }

    .casual h2, .formal h2, .ladies h2, .gym h2{
        font-size: 26px;
    }
    .newshelter{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .textside{
        width: 100%;
    }

    .textside h1{
        font-size: 40px;
    }

    .inputside, .inputside button{
        width: 100%;
    }
     .footer hr{
        width: 95%;
        margin: 30px auto;
    }

   
}
/* 1441px se 2560px screens ke liye */
/* 1441px se 2560px screens ke liye */
@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .container {
        max-width: 2200px; /* content center me rahe */
        margin: 0 auto;
        padding: 40px;
    }

    .banner {
        height: 700px;
        padding: 0 80px;
    }



    .text h1 {
        font-size: 72px;
    }
    .text p{
        font-size: 20px;
    }
    .star1{left: 180px;}
    .star2{right: 170px;}

    .cards {
        gap: 30px;
    }

    .card-1 {
        width: 22%; /* 4-5 cards per row */
        padding: 15px;
        margin-bottom: 30px;
    }

    .box {
        width: 90%;      /* poora section center me */
        padding: 50px 40px;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .boxes {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
    }

    .casual, .formal, .ladies, .gym {
        width: 48%;      /* 2 per row */
        height: 300px;
        border-radius: 20px;
        padding: 20px;
        background-size: cover;
        background-position: center;
    }
    .coustomer{

        max-width: 90%;
    }
     .reviews{
       width: 100%;
        justify-content: space-around;
    }
    .review1,.review2,.review3{
        width: 23%;
        margin: 20px;
    }

    .newshelter {
        width: 100%;
        padding: 40px 60px;
        flex-wrap: nowrap;
    }

    .textside{
        width: 60%;
    }
    .inputside{
        width: 40%;
    }


    .textside{
        width: 60%;
    }
    .inputside{
        width: 40%;
    }


    .textside h1 {
        font-size: 50px;
    }
    .inputside button{
        width: 100%;
    }
    .foot{
        font-size: 20px;
    }

    .footer hr {
        width: 90%;
    }
    .footer-bottum{
        font-size: 20px;
        justify-content: space-around;
        width: 100%;
    }
}

/* 2561px+ screens ke liye (ultra wide/projector) */
@media screen and (min-width: 2561px) {
    .container {
        max-width: 3000px; /* center me content */
        margin: 0 auto;
        padding: 60px;
    }

    .banner {
        height: 800px;
        padding: 0 100px;
    }

    .text h1 {
        font-size: 80px;
    }

    .star1{
        right: 860px;
    }
    .star2{
        bottom: 250px;
        left: 783px;
    }

    .card-1 {
        width: 18%; /* 5 cards per row */
    }
    .coustomer{
        max-width: 2074px;
    }
    .reviews{
       width: 100%;
        justify-content: space-evenly;
    }
    .review1,.review2,.review3{
        width: 23%;
        margin: 20px;
    }

    .box {
        width: 85%;
        padding: 60px 50px;
        margin: 60px auto;
    }

     .boxes {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
    }

    .casual, .formal, .ladies, .gym {
        width: 48%;
        height: 350px;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .newshelter {
        padding: 50px 80px;
        width: 90%;
    }
    .textside{
        width: 60%;
    }
    .inputside{
        width: 40%;
    }


    .textside h1 {
        font-size: 50px;
    }
    .inputside button{
        width: 100%;
    }
    .foot {
        font-size: 20px;
        
    }
    .footer-bottum{
        font-size: 20px;
        justify-content: space-around;
        width: 100%;
    }
}





